.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

/* canvas {
  display: block;
} */

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; 

  /* position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
}
